div {
    color: black;
    font-size: 2rem;
}

/* меняем цвет текса в зависимости от ширины экрана */
@media all and (max-width: 767px) {
    div {
        color: cadetblue;
    }
}

@media all and (min-width: 768px) and (max-width: 991px) {
    div {
        color: chocolate;
    }
}

@media all and (min-width: 992px) and (max-width: 1199px) {
    div {
        color:blue;
    }
}


@media all and (min-width: 1200px) {
    div {
        color:burlywood;
    }
}




